:root {
  --width: 640px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6em;
  font-family: serif;
  min-height: 100vh;
  display: flex;
  gap: 2em;
  flex-direction: column;
}

body > header {
  background: #d0d9d5;
}

body > header > section {
  max-width: var(--width);
  margin: 0 auto;
  line-height: 24px;
  height: 24px;
  padding: 1em;
  display: flex;
  flex-direction: row;
}

body > header > section svg {
  aspect-ratio: 1 / 1;
  height: 100%;
  opacity: .7;
}

main ul {
  padding: 0 0 0 2em;
}

body > header > section p {
  margin: 0 0 1em;
}

body > header > section nav {
  text-align: right;
  flex: 1;
}

body > header > section nav a {
  font-size: .9em;
}

body > header > section nav a:visited {
  color: inherit
}

body > section {
  display: grid;
  flex: 1;
  padding: 0 1em;
  gap: 2em;
  grid-template-columns: 1fr minmax(min-content, var(--width)) 1fr;
}

@media(max-width: 860px) {
  body > section {
    max-width: var(--width);
    margin: 0 auto;
    display: block;
  }

  body > section > nav {
    margin-bottom: 2em;
  }

  body > section > nav ul {
    text-align: center;
  }

  body > section > nav ul li {
    display: inline-block;
    margin: 0 .5em;
  }

}

main {
  /* display: flex;
  flex-direction: column; */
  grid-column: 2;
  min-height: 100%;
}

main > *:first-child { margin-top: 0 }
main > *:last-child { margin-bottom: 0 }

body > section > nav {
  text-align: right;
  grid-column: 1;
}

body > section > nav ul {
  position: sticky;
  top: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
}

body > section > nav ul li + li {
  margin-top: .5em;
}

body > section > nav a {
  text-decoration: none;
}

body > section > nav a.active {
  border-bottom: 2px solid #d0d9d5;
}

main > header h1 {margin: 0;}

main > footer {
  margin: 2em 0 0;
  padding: 2em 0;
  border-top: 1px solid #ddd;
  text-align: right;
  color: #555;
}

code {background: #eee}
pre {
  line-height: 1.4;
  background: #eee;
  margin: 2em 0;
  padding: .5em 1em;
  overflow: scroll;
  box-sizing: border-box;
}

hr {
  border: none;
  margin: 2em auto;
  border-top: 1px solid #ddd;
}

abbr { cursor: help }

.kw { font-weight: 400 }
.dt { color: #344 }
.st { color: #448; font-style: italic }
.ot { color: #555 }
.op { color: #484 }
.co { color: #888 }
